assets/wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://ets.twcable.com/rules/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ets.twcable.com/rules/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://ets.twcable.com/rules/">
            <s:element name="EvaluateString">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UDF1" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="UDF2" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ADJUNCTDATA" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="EvaluateStringResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="EvaluateStringResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="EvaluateStringSoapIn">
        <wsdl:part name="parameters" element="tns:EvaluateString"/>
    </wsdl:message>
    <wsdl:message name="EvaluateStringSoapOut">
        <wsdl:part name="parameters" element="tns:EvaluateStringResponse"/>
    </wsdl:message>
    <wsdl:portType name="rcustom_1801Soap">
        <wsdl:operation name="EvaluateString">
            <wsdl:input message="tns:EvaluateStringSoapIn"/>
            <wsdl:output message="tns:EvaluateStringSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="rcustom_1801Soap" type="tns:rcustom_1801Soap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="EvaluateString">
            <soap:operation soapAction="http://ets.twcable.com/rules/EvaluateString" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="rcustom_1801Soap12" type="tns:rcustom_1801Soap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="EvaluateString">
            <soap12:operation soapAction="http://ets.twcable.com/rules/EvaluateString" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
	<wsdl:service name="rcustom_1801">
		<wsdl:port name="rcustom_1801Soap" binding="tns:rcustom_1801Soap">
            <soap:address location="http://cmspapp02.twcable.com/go/soap/cti/attributemulti"/>
        </wsdl:port>
		<wsdl:port name="rcustom_1801Soap12" binding="tns:rcustom_1801Soap12">
            <soap12:address location="http://cmspapp02.twcable.com/go/soap/cti/attributemulti"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
